@page "/cart"
@inject ICartService CartService
@implements IDisposable

<PageTitle>Shopping Cart</PageTitle>
<h3>Shopping Cart</h3>

@if (_cartProducts == null || _cartProducts.Count == 0)
{
    <span>@_message</span>
}
else
{
    <div>
        @foreach (var product in _cartProducts)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@product.ImageUrl" class="image"/>
                </div>
                <div class="name">
                    <h5>
                        <a href="/product/@product.ProductId">@product.Title</a>
                    </h5>
                    <span>@product.ProductType</span>
                    <input type="number" class="form-control input-quantity" min="1"
                           value="@product.Quantity" @onchange="@(args => UpdateQuantity(args, product))"/>
                    <button class="btn-delete" @onclick="@(() => RemoveProductFromCart(product.ProductId, product.ProductTypeId))">Delete</button>
                </div>
                <div class="cart-product-price">
                    $@(product.Price * product.Quantity)
                </div>
            </div> 
        }
        <div class="cart-product-price">
            Total (@_cartProducts.Count): $@_cartProducts.Sum(c => c.Price*c.Quantity)
        </div>
    </div>
}

@code {
    List<CartProductResponse> _cartProducts = null;
    string _message = "Loading cart...";

    protected override async Task OnInitializedAsync()
    {
        CartService.OnChange += StateHasChanged;
        await LoadCart();
    }
    private async Task LoadCart()
    {

        if ((await CartService.GetCartItems()).Count == 0)
        {
            _message = "Your cart is empty.";
            _cartProducts = new List<CartProductResponse>();
        }
        else
        {
            _cartProducts = await CartService.GetCartProducts();
        }
        StateHasChanged();
    }
    private async void RemoveProductFromCart(int productId, int productTypeId)
    {
        await CartService.RemoveProductFromCart(productId, productTypeId);
        await LoadCart();
    }

    private async Task UpdateQuantity(ChangeEventArgs e, CartProductResponse productResponse)
    {
        productResponse.Quantity = int.Parse(e.Value.ToString());
        if (productResponse.Quantity < 1)
            productResponse.Quantity = 1;
        await CartService.UpdateQuantity(productResponse);
    }
    
    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}